@media screen and (max-width:768px) {
   body {
      width: auto;
      min-width: 360px;
      margin: auto;
   }

   header {
      width: 100%;
      flex-direction: column;
      margin-bottom:25px;
   }

   main {
      width: 100%;
   }

   #logo {
      margin-top: 20px;
      margin-left: 40px;
   }

   header nav {
      width: 100%;
   }

   nav ul {
      width: 100%;
      padding: 0px;
   }

   nav li {
      width: 50%;
      justify-content: center;
      height: 54px;
      border-bottom: 3px solid #f2f2f2;
   }

   nav a {
      justify-content: center;
   }

   .search-zone {
      padding: 0px 20px 0px;
   }

   .container {
      width: 90%;
      font-size: 21px;
   }

   form button {
      display: none;
   }

   button:hover {
      background-color: unset;
   }

   form button-2 {
      display: flex;
      margin-left: -15px;
   }

   button-2:hover {
      background-color: #0692ea;
   }

   .filter-list {
      margin-bottom: 15px;
   }

   .filter {
      flex-wrap: nowrap;
   }

   .info {
      align-items: flex-start;
   }

   .info p {
      margin: 3px 0px 20px 10px;
      font-size: 15px;
   }

   .accommodation {
      flex-direction: column-reverse;
      gap: 20px;
   }

   /* Le bloc gris*/
   .popular-hotel {
      width:95%;
      height: 505px;
      /*padding: 37px 0% 28px 3%;*/
   }

   /* Hébergements à Marseille*/
   .city-card {
      height: auto;
      flex-wrap: nowrap;
      flex-direction: column;
      width: 94%;
      gap: 14px;
      padding: 0px 18px;
      margin-bottom: 0px;
   }

   .city-card h2 {
      padding: 15px 0px 9px;
   }

   /*Les cartes blanches*/
   .card-image-2 {
      height: 179px;
      width: 97%;
   }

   .third {
      padding: 20px 10px 20px;
   }

   /* Les Activités à Marseille*/
   .activities {
      flex-direction: column;
      padding: 0px 18px;
   }

   .card-activity h2 {
      padding: 0px 0px 5px;
   }

   .bloc-activity img {
      height: 145px;
   }

   /*footer */
   footer {
      padding: 0px;
   }

   .block-footer {
      flex-direction: column;
      margin-left: 8%;
   }

   .sub-block {
      justify-content: space-between;
      padding: 20px 5px 0px;
   }

}