@media screen and (max-width:992px) {

    body {
        width: 100%;
    }

    main {
        margin: auto;
        width: 93%;
    }

    nav li {
        height: 70px;
        margin: 0px;
    }

    nav li:hover {
        color: #0065fc;
        border-bottom: 3px solid#0065fc;
        border-top: none;
        margin-bottom: -3px;
    }

    .container p {
        margin-bottom: 20px;
    }

    form button-2 {
        display: none;
    }

    .filter-list {
        margin-bottom: 10px;
    }

    .filter-title {
        margin-bottom: 10px;
        width: 100%;
    }

    .filter {
        margin: 0px 12px 15px 0px;
    }

    .info {
        margin-bottom: 15px;
    }

    .accommodation {
        flex-direction: column;
    }

    .city-card {
        width: 100%;
        height: 790px;
        flex-direction: row;
        background-color: white;
    }

    /*Les Cartes blanches*/
    .card-image-2 {
        width: 47%;
    }

    /*Les Plus populaires*/
    .popular-hotel {
        width: 100%;
        border-radius: 0px;
        justify-content: center;
        flex-direction: row;
        background-color: white;
    }

    .popular-hotel h2 {
        width: 100%;
    }

    /*Les Cartes blanches*/
    .popular-hotel a {
        width: 100%;
    }

    /* Les Activités à Marseille*/
    .activities {
        width: 100%;
    }

    .bloc-activity,
    .bloc-double-activity {
        width: 100%;
    }

    .bloc-activity img {
        height: 150px;
    }

    /* les cartes blanches*/
    .container-activity {
        margin-bottom: 20px;
    }

    /*footer */
    .blockfooter {
        padding: 23px 0px 0px 0px;
    }

    .sub-block,
    .sub-block2,
    sub-block3 {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}